
body {
    margin: 60px auto;
    width: 70%;
	height:100%;
}



#bg{
    background: url(/bg.jpg);
	background-position:center center;
	background-size:cover;
    width:100%;
	padding-bottom:60px; 
}

#menu{
	right: 20%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    float: right;
	padding-right: 5%;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
#footer {
	position:absolute;
   bottom:0;
	right:10%;
   height:60px;   
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}



#bigtitle{
	
}


#intro{
	position:absolute;
	color:#ffffff;
	top: 20%;
	left: 10%;
	text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
	text-align: left;
	/*margin-right: 250px;*/
}

#title{
	font-family: 'Montserrat', sans-serif;
	font-size: 90px;
}

#subtitle{
	text-transform: uppercase;
	font-size: 40px;
}

#aboutme{
	color:#ffffff;
	position:relative;
	top: 20%;
	left: 10%;
}

.content{
  	color:#ffffff;
	left: 5%;
	position:relative;
	font-size: large;
	width : 80%;
}

#image{
 	width: 50%;
	height: 50%;
	text-align:center;
}

#skills{
	color:#ffffff;
	left: 5%;
	
	text-align: left;
}
