<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		
		</head>
		<body id="bg">
			<?php include_once("analyticstracking.php") ?>
			<nav> 
	    		<ul id="menu">
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/Junheng Wang - resume.pdf">Resume</a></li>
	        		<li><a href="/blog">Skills</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<div id="footer">
	    		Copyright &copy; 2016 Eason Wang
			</div>
		</body>
	</html>


